.first-section-image{
    width: 530px;
    height: 550px;
    margin: 0px 7.5px 0px 7.5px;
    object-fit: contain;
    transition: 'opacity 1s';
    opacity: 1 
}
/* @keyframes imageChange {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-75%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .first-section-image {
    animation: imageChange 20s linear infinite;
    opacity: 1;
  }
  
  .image-2 {
    animation-delay: 5s;
  }
  
  .image-3 {
    animation-delay: 10s;
  }
  
  .image-4 {
    animation-delay: 15s;
  }
  
  .image-5 {
    animation-delay: 20s;
  }
   */









/* *{
    padding: 0px;
    margin: 0px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.primarySection-home{
    display: flex;
    width: 100%;
    height: 550px;
    background-color: aquamarine;
    margin: 5px;
    /* margin is applying to its above divs */
/* } */ 

/* .primarySection-image{
   
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        margin: 0px 7px 0px 7px;
    
}

.secondarySection-home{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 290px;
    background-color: aquamarine;
}

.secondarySection-imageContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.secondarySection-images{
    display: flex;
    width: 150px;
    height: 200px;
    margin: 40px 10px 10px 10px;
    object-fit: cover;
}

.thirdSectionHome-image{
    width:759px;
    height:430px
}

.fourthSectionHome-image{
    width: 100%;
}

.fifthSectionHome-image{
    width: 220px;
    height: 270px;
    object-fit: cover;
    margin: 15px;
}

.sixthSectionHome-image{
    width: 99%;
    margin: 2.5px 0px 2.5px 2.5px;
}

.eighthSection-home{
    margin:10px 0px 10px 0px;
}

.ninethSection-home{
    display: flex;
    flex-direction: column;
}

.ninethSectionHomeImage{
    display: flex;
    justify-content: center;
}
.ninethSectionHomeImage-container{
    display: flex;
    justify-content: center;
}

.tenthSectionHomeImage-container{
    display: flex;
}

.twelvethSectionHome-image{
    width: 100%;
} */