*{
    padding: 0px;
    margin: 0px;
}

.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:grey; */
    /* border: 0px 0px 1px 0px solid gray ; */
    /* need to ad a line on bottom */
    border-bottom: 1px solid grey; 
    height:50px;
    width:100%;
}

.mh-right{
    display: flex;
}

.mh-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background: white;
    width: 300px; /* Adjust width as needed */
    height: 50px;
}
    
    .search-input {
    flex: 1;
    height: 50px;
    }
    
    .search-button {
    color: #555;
    }
