.mainHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey; 
    height:50px;
    width:100%;
}

.mh-right{
    display: flex;
}

.mh-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background: white;
    width: 300px; /* Adjust width as needed */
    height: 50px;
}
    
    .search-input {
    flex: 1;
    height: 50px;
    }
    
    .search-button {
    color: #555;
    }

    .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
        height: 38px;
        padding-left: 0px !important;
        margin-right: 10px;
        background-color: #eaeaea;
    }