.top-header{
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 100%;
    background-color: rgb(227, 219, 219);
}

.th-left{
    display: flex;
    /* width: 50%; */
    align-items: center;
    gap: 13px;
   
    
}
.th-right{
    display: flex;
    /* width: 50%; */
    align-items: center;
    gap:13px;
}