*{
    padding: 0px;
    margin: 0px;
}

.login-container{
    display: flex;
    justify-content: center;
    background-color: rgb(139, 149, 145);
    height: 664px; 
    /* need to fit into screensize for all size 
    if im usong 100vh its like scrolling
    */
    width: 100%;
}

.login-body{
    display: flex;
    justify-content: center;
    width: 1150px;
    height: 640px;
    background-color: rgb(233, 208, 175);
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 155, 155);
    width: 40%;
    height: 640px;
}

.login-h2{
    margin-top: 115px;
    /* font-size: 14px; */
    font-family: montserrat-bold,sans-serif;
}

.login-email{
    margin-top: 60px;
}

.login-password{
    width: 100%;
    margin-top: 60px;
}

/* .login-forgetPassword{
    margin-top:60px ;
} */